@page "/customers/edit"

@rendermode InteractiveServer

@using DnsBman.Components.Alerts
@using DnsBman.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@using Serilog

@inject DnsBman.Data.DnsBmanContext _context
@inject NavigationManager _navigationManager
@inject DnsBman.Services.BmanCustomerService _bmanCustomerService

@attribute [Authorize]

<PageTitle>Modifica Cliente Bman</PageTitle>

@if (ModifiedCustomer is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-5 mx-auto my-5">
                <EditForm class="p-3 border border-2 bg-secondary bg-opacity-10 shadow-sm" method="post" Model="ModifiedCustomer" OnValidSubmit="UpdateCustomer" FormName="edit" Enhance>
                    <DataAnnotationsValidator />
                    <h2 class="text-center mb-3">Modifica Cliente Bman</h2>
                    <hr />
                    <input type="hidden" name="ModifiedCustomer.Id" value="@ModifiedCustomer.Id" />
                    <div class="mb-3">
                        <label for="name" class="form-label">CNAME:</label>
                        <InputText id="name" @bind-Value="ModifiedCustomer.Name" class="form-control" style="background-color: #F8F8FF;" />
                        <ValidationMessage For="() => ModifiedCustomer.Name" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="valuebmanit" class="form-label">Valore in Bman.It:</label>
                        <InputText id="valuebmanit" @bind-Value="ModifiedCustomer.ValueBmanIt" class="form-control" style="background-color: #F8F8FF;" />
                        <ValidationMessage For="() => ModifiedCustomer.ValueBmanIt" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <label for="valuebmanshop" class="form-label">Valore in Bman.Shop:</label>
                        <InputText id="valuebmanshop" @bind-Value="ModifiedCustomer.ValueBmanShop" class="form-control" style="background-color: #F8F8FF;" />
                        <ValidationMessage For="() => ModifiedCustomer.ValueBmanShop" class="text-danger" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a title="Info cliente" class="btn btn-primary shadow-sm" href="@($"customers/details?id={ModifiedCustomer.Id}")"><i class="bi bi-arrow-left"></i></a>
                        <button title="Conferma modifiche" type="submit" class="btn btn-success" disabled="@IsLoading">
                            @if (IsLoading)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="visually-hidden">Loading...</span>
                            }
                            else
                            {
                                <i class="bi bi-check-lg"></i>
                            }
                        </button>
                    </div>
                </EditForm>

                <Alert Message="@AlertMessage" Type="error" />

            </div>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Customer? ModifiedCustomer { get; set; }
    public Customer? DbCustomer { get; set; }
    private bool IsLoading { get; set; } = false;
    private string? AlertMessage { get; set; }

    private bool initialized = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ModifiedCustomer ??= await _context.Customers.FirstOrDefaultAsync(c => c.Id == Id);
            DbCustomer = (Customer)ModifiedCustomer.Clone();

            if (ModifiedCustomer is null)
            {
                _navigationManager.NavigateTo("notfound");
            }
        }
        catch (Exception ex)
        {
            Log.Error(ex, "Si è verificato un errore durante l'inizializzazione.");
            AlertMessage = ex.Message;
        }
    }

    public async Task UpdateCustomer()
    {
        try
        {
            IsLoading = true;

            await _bmanCustomerService.EditCustomer(DbCustomer, ModifiedCustomer);

            _context.Attach(ModifiedCustomer!).State = EntityState.Modified;

            try
            {
                await _context.SaveChangesAsync();
            }
            catch (DbUpdateConcurrencyException)
            {
                if (!CustomerExists(ModifiedCustomer!.Id))
                {
                    _navigationManager.NavigateTo("notfound");
                }
                else
                {
                    throw;
                }
            }

            _navigationManager.NavigateTo("/customers?message=Cliente%20modificato%20con%20successo!", forceLoad: true);
        }
        catch (Exception ex)
        {
            Log.Error(ex, "Si è verificato un errore durante la modifica del cliente: {@ModifiedCustomer}", ModifiedCustomer);
            AlertMessage = ex.Message;
        }
        finally
        {
            IsLoading = false;
        }
    }

    bool CustomerExists(int id)
    {
        return _context.Customers.Any(e => e.Id == id);
    }
}
